#!/usr/bin/env bash
# PATH_rm '/c/scratch/git/zig-build/*'

ZIGROOTBIN="/c/scratch/git/zig-build/bin"
# PATH_add "$ZIGROOTBIN"
PATH_add "$ZIGROOTBIN/stage4/bin"
PATH_add "$ZIGROOTBIN/zls/bin"

alias_set zigbuild-web "zig build -fincremental  --webui=127.0.0.1:9001"
alias_set zigbuild "zig build"
alias_set zigbuild-watch "zig build -fincremental  --watch"
