[submodule "vendor/rstd"]
	path = vendor/rstd
	url = https://codeberg.org/randyos/rstd.git
[submodule "vendor/rgui"]
	path = vendor/rgui
	url = https://codeberg.org/randyos/rgui.git
[submodule "src/randyos/gfx/logo"]
	path = src/randyos/gfx/logo
	url = https://codeberg.org/randyos/logo.git
[submodule "www"]
	path = www
	url = ./www
