[submodule "src/vendor/ghostty"]
	path = vendor/ghostty
	url = https://github.com/randyos-org/ghostty
[submodule "src/vendor/uucode"]
	path = vendor/uucode
	url = https://github.com/randyos-org/uucode
[submodule "src/vendor/libxev"]
	path = vendor/libxev
	url = https://github.com/randyos-org/libxev
[submodule "src/vendor/libvaxis"]
	path = vendor/libvaxis
	url = https://github.com/randyos-org/libvaxis.git
[submodule "src/vendor/z2d"]
	path = vendor/z2d
	url = https://github.com/randyos-org/z2d
