[submodule "vendor/ghostty"]
	path = vendor/ghostty
	url = https://github.com/randyos-org/ghostty
[submodule "vendor/uucode"]
	path = vendor/uucode
	url = https://github.com/randyos-org/uucode
[submodule "vendor/libxev"]
	path = vendor/libxev
	url = https://github.com/randyos-org/libxev
[submodule "vendor/libvaxis"]
	path = vendor/libvaxis
	url = https://github.com/randyos-org/libvaxis.git
[submodule "vendor/z2d"]
	path = vendor/z2d
	url = https://github.com/randyos-org/z2d
[submodule "vendor/rstd"]
	path = vendor/rstd
	url = https://codeberg.org/randyos/rstd.git
